.body_padding {
  padding-top: 92px;
}

.header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  padding: 15px 0 0 0;
}

.header__container {
  max-width: 1313px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px 0 16px;
  margin: auto;
}

.header__container_fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background: white;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-animation: animatin-header_active 0.4s;
          animation: animatin-header_active 0.4s;
  padding: 7px 0 7px 0;
}

@-webkit-keyframes animatin-header_active {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

@keyframes animatin-header_active {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
.sidebar-fon {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background: rgba(31, 34, 35, 0.4);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.sidebar-fon_active {
  visibility: visible !important;
  opacity: 1 !important;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 40px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
@media screen and (max-width: 1024px) {
  .sidebar {
    width: var(--sidebarWidth);
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    grid-gap: 32px;
    position: fixed;
    top: 0;
    right: calc(0px - var(--sidebarWidth));
    z-index: 3;
    background: white;
    padding: 24px 20px 24px 20px;
  }
}

.sidebar_active {
  right: 0 !important;
}

.sidebar__btn {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 6px;
  position: absolute;
  top: 22px;
  right: calc(var(--sidebarWidth) + 16px);
  background: rgba(0, 0, 0, 0);
}
@media screen and (min-width: 1025px) {
  .sidebar__btn {
    display: none;
  }
}
.sidebar__btn span {
  width: 100%;
  height: 2px;
  background: #1F2223;
}

@media screen and (max-width: 1024px) {
  .header__menu {
    width: 100%;
    grid-gap: 16px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (max-width: 1024px) {
  .header__link {
    border-bottom: 1px solid #F2F4F6;
    font-size: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .header__connection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    grid-gap: 25px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 1024px) {
  .header__number {
    font-size: 13px;
  }
}