.body_padding{
  padding-top: 92px;
}

.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  transition: .3s linear;
  padding: 15px 0 0 0;
    @media screen and (max-width: 1024px) {
      position: relative;
    }
}

.header__container{
  max-width: 1313px;
  width: 100%;
  height: 78px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .3s linear;
  padding: 0 16px 0 16px;
  margin: auto;
    @media screen and (max-width: 1024px) {
      height: auto;
    }
}

.header_fixed{
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  padding: 15px 0 15px 0;
}

.header__container_fixed{
  height: 50px;
}


// .header_fixed{
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 3;
//   background: white;
//   box-shadow: 0 2px 4px rgba(0,0,0,.2);
//   animation: animatin-header_active .4s;
//   padding: 7px 0 7px 0;
//     @media screen and (max-width: 1024px) {
//       position: relative;
//     }
// }

// @keyframes animatin-header_active {
//   0%{
//     top: -100%;
//   }
//   100%{
//     top: 0;
//   }
// }

.sidebar-fon{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background: rgba(31, 34, 35, 0.4);
  transition: .3s linear;
}

.sidebar-fon_active{
  visibility: visible !important;
  opacity: 1 !important;
}

.sidebar{
  display: flex;
  align-items: center;
  grid-gap: 40px;
  transition: .3s linear;
    @media screen and (max-width: 1024px) {
      width: var(--sidebarWidth);
      height: 100vh;
      flex-direction: column;
      align-items: flex-start;
      grid-gap: 32px;
      position: fixed;
      top: 0;
      right: calc(0px - var(--sidebarWidth));
      z-index: 3;
      background: white;
      padding: 24px 20px 24px 20px;
    }
}

.sidebar_active{
  right: 0 !important;
}

.sidebar__btn{
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-gap: 6px;
  position: absolute;
  top: 22px;
  right: calc(var(--sidebarWidth) + 16px);
  background: rgba(0,0,0,0);
    @media screen and (min-width: 1025px) {
      display: none;
    }
    span{
      width: 100%;
      height: 2px;
      background: #1F2223;
    }
}

.header__menu{
  @media screen and (max-width: 1024px) {
    width: 100%;
    grid-gap: 16px;
    order: 2;
  }
}

.header__link{
  @media screen and (max-width: 1024px) {
    border-bottom: 1px solid #F2F4F6;
    font-size: 16px;
    padding-bottom: 16px;
  }
}

.header__connection{
  @media screen and (max-width: 1024px) {
    flex-direction: row;
    grid-gap: 25px;
    order: 1;
  }
}

.header__number{
  @media screen and (max-width: 1024px) {
    font-size: 13px;
  }
}