/* @font-face {
  font-family: 'Exo 2';
  src: url('../fonts/static/Exo2-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal; */
/* } */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2';
}

/* body{ font-family: 'Exo 2'; } */

a{ text-decoration: none; }

button, input, textarea{
  border: none;
  outline: none;
}

