.logo-img {
  max-width: 222px;
}
@media screen and (max-width: 580px) {
  .logo-img {
    max-width: 119px;
  }
}
.logo-img img {
  width: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 32px;
}

.menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #1F2223;
}

.connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.connection__number {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #1F2223;
}

.footer {
  background: linear-gradient(89.7deg, #F2F4F6 -14.22%, #DFF5FF 105.24%);
  padding: 17px 0 17px 0;
}

.footer__container {
  max-width: 1313px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 0 16px 0 16px;
}

@media screen and (max-width: 1024px) {
  .footer__menu {
    display: none;
  }
}