.container {
  max-width: 1130px;
  width: 100%;
  position: relative;
  padding: 0 16px 0 16px;
  margin: auto;
}

.container-baner {
  max-width: 1130px;
  width: 100%;
  padding: 0 0 0 16px;
  margin: auto;
}

.container__padding-one {
  padding: 160px 0 160px 0;
}
@media screen and (max-width: 1024px) {
  .container__padding-one {
    padding: 80px 0 80px 0;
  }
}

.heading-h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
}
@media screen and (max-width: 580px) {
  .heading-h2 {
    font-size: 24px;
  }
}

.item-container {
  grid-gap: 30px;
}
@media screen and (max-width: 1024px) {
  .item-container {
    grid-gap: 24px;
  }
}

.item-style {
  border: 1px solid #CED3D5;
  border-radius: 2px;
  background: white;
  padding: 24px 24px 24px 24px;
}
.item-style img {
  width: 55px;
}
.item-style p {
  font-weight: 500;
  font-size: 20px;
  line-height: 170%;
  margin-top: 16px;
}

.fon {
  background-image: url(../body/images/convenient-communication/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.CallMe {
  overflow: hidden;
}

.CallMe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.CallMe__text {
  padding: 0 0 40px 0;
}

.CallMe__h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
}

.CallMe__p {
  max-width: 456px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  margin-top: 24px;
}

.CallMe__btn-started {
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 190%;
  color: white;
  background: #009EEB;
  padding: 12px 32px 12px 32px;
  margin-top: 40px;
}

.CallMe__img {
  border: 1px solid;
  max-width: 554px;
  width: 100%;
  position: relative;
}
.CallMe__img img {
  position: relative;
  z-index: 2;
}

.CallMe__circle {
  border-radius: 50%;
  width: 1019px;
  height: 1019px;
  position: absolute;
  z-index: 1;
  top: 72px;
  left: 0;
  background: #C0E16E;
}

.service__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 128px;
}
@media screen and (max-width: 1024px) {
  .service__container {
    grid-gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .service__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.service__text {
  max-width: 460px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .service__text {
    max-width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.service__description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  margin-top: 24px;
}

.service__video {
  border-radius: 16px;
  max-width: 558px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .service__video {
    max-width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.video__preview {
  width: 100%;
}

.video__button {
  border: none;
  border-radius: 50%;
  width: 165px;
  height: 165px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.4);
}
@media screen and (max-width: 580px) {
  .video__button {
    width: 100px;
    height: 100px;
  }
}
.video__button img {
  width: 41px;
  margin-left: 13px;
}
@media screen and (max-width: 580px) {
  .video__button img {
    width: 34px;
    margin-left: 10px;
  }
}

.WebRTC {
  color: white;
  background: linear-gradient(261.57deg, #82D2F9 2.45%, #06A3F0 112.29%);
}

.WebRTC__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 580px) {
  .WebRTC__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.WebRTC__text {
  max-width: 576px;
  width: 100%;
  padding: 80px 0 80px 0;
}
@media screen and (max-width: 580px) {
  .WebRTC__text {
    padding: 40px 0 0 0;
  }
}

.WebRTC__description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  margin-top: 4px;
}

.WebRTC__img {
  max-width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  margin-top: -38px;
}
@media screen and (max-width: 580px) {
  .WebRTC__img {
    margin-top: 20px;
  }
}
.WebRTC__img img {
  width: 100%;
}
@media screen and (max-width: 580px) {
  .WebRTC__img img {
    margin-bottom: -80px;
  }
}

.callme-this__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 40px;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .callme-this__container {
    margin-top: 32px;
  }
}
@media screen and (max-width: 580px) {
  .callme-this__container {
    grid-gap: 24px;
  }
}

.callme-this__column-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: fit-content(365px) 30px fit-content(460px);
  grid-template-columns: fit-content(365px) fit-content(460px);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  grid-gap: 30px;
}
@media screen and (max-width: 580px) {
  .callme-this__column-left {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 24px;
  }
}

.callme-this__column-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: fit-content(365px) 30px fit-content(460px);
  grid-template-columns: fit-content(365px) fit-content(460px);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  grid-gap: 30px;
}
@media screen and (max-width: 580px) {
  .callme-this__column-right {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 24px;
  }
}

.to-use__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  grid-gap: 48px;
}
@media screen and (max-width: 768px) {
  .to-use__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 32px;
  }
}

.to-use__img {
  max-width: 558px;
  margin: auto;
}
.to-use__img img {
  width: 100%;
}

.to-use__text {
  max-width: 558px;
  width: 100%;
  margin-top: 8%;
}
@media screen and (max-width: 768px) {
  .to-use__text {
    max-width: 100%;
    margin-top: auto;
  }
}

.to-use__description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  margin-top: 24px;
}
@media screen and (max-width: 768px) {
  .to-use__description {
    margin-top: 8px;
  }
}

.solves-tasks {
  background: #ECF9FF;
  padding: 100px 0 100px 0;
}
@media screen and (max-width: 1024px) {
  .solves-tasks {
    padding: 40px 0 54px 0;
  }
}

.solves-tasks__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px 30px;
  overflow: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  margin-top: 40px;
}
.solves-tasks__container::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 768px) {
  .solves-tasks__container {
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 580px) {
  .solves-tasks__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 24px;
  }
}

@media screen and (max-width: 580px) {
  .solves-tasks__item {
    min-width: 250px;
  }
}

.advantages__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  margin-top: 40px;
}
@media screen and (max-width: 1024px) {
  .advantages__block {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 550px) {
  .advantages__block {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

.baner {
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: linear-gradient(261.57deg, #82D2F9 2.45%, #06A3F0 112.29%);
}
@media screen and (max-width: 580px) {
  .baner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.baner__text {
  max-width: 550px;
  width: 100%;
  padding: 86px 0 86px 80px;
}
@media screen and (max-width: 768px) {
  .baner__text {
    padding: 20px 0 20px 20px;
  }
}
@media screen and (max-width: 580px) {
  .baner__text {
    padding: 40px 16px 0 16px;
  }
}

.baner__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  margin-top: 4px;
}

.baner__button {
  cursor: pointer;
  border: 1px solid;
  border-radius: 8px;
  width: 155px;
  min-height: 54px;
  color: white;
  background: rgba(0, 0, 0, 0);
  padding: 12px 32px 12px 32px;
  margin-top: 40px;
}
@media screen and (max-width: 580px) {
  .baner__button {
    width: 100%;
    margin-top: 32px;
  }
}

.baner-img {
  max-width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (max-width: 425px) {
  .baner-img {
    max-width: 100%;
    overflow: hidden;
  }
}
.baner-img img {
  width: 100%;
}
@media screen and (max-width: 425px) {
  .baner-img img {
    width: 400px;
  }
}

.services__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 30px;
  overflow: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  margin-top: 40px;
}
.services__block::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 550px) {
  .services__block img {
    max-height: 50px;
  }
}

.feedback {
  background: linear-gradient(261.57deg, #82D2F9 2.45%, #06A3F0 112.29%);
}

.feedback__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  grid-gap: 32px;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .feedback__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.feedback__figure-semicircle {
  position: absolute;
  left: -507px;
  bottom: 0;
  width: 888px;
  height: 265px;
}
@media screen and (max-width: 809px) {
  .feedback__figure-semicircle {
    display: none;
  }
}

.feedback__h2 {
  max-width: 648px;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: white;
}
@media screen and (max-width: 580px) {
  .feedback__h2 {
    font-size: 24px;
  }
}

.feedback__form {
  max-width: 365px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 20px;
}
@media screen and (max-width: 768px) {
  .feedback__form {
    max-width: 100%;
  }
}

.feedback__input {
  border-radius: 4px;
  width: 100%;
  height: 54px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding: 15px 20px 15px 20px;
}

.feedback__textarea {
  border-radius: 8px;
  width: 100%;
  max-height: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  resize: none;
  padding: 15px 20px 15px 20px;
}

.feedback__send {
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 190%;
  background: #C0E16E;
}